.list-group-item.active {
    color: #fff;
    background-color: #e20a16;
    border-color: #c90a15;
}

.me {
    color: #e20a16;
}

.me:hover {
    color: #c90a15;
}

li {
    font-size: 20px;
    list-style-type: disc !important;
}

.line {
    background-color: #fff;
}

.line.active {
    background-color: #fff;
}

.timer {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}

.alert-danger {
    background-color: #e20a16;
    border-color: #c90a15;
    color: #fff;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #252525;
        color: #fff;
    }

    hr {
        background-color: #6c757d;
    }

    .list-group-item.active {
        background-color: #c90a15;
        border-color: #e20a16;
    }

    .list-group-item {
        background-color: #333;
        border-color: #333;
    }

    .card-header {
        background-color: #252525;
        border-color: #333;
    }

    .me {
        color: #c90a15;
    }

    .me:hover {
        color: #e20a16;
    }

    .line {
        background-color: #656565;
    }

    .line.active {
        background-color: #fff;
    }

    .alert-danger {
        background-color: #c90a15;
        border-color: #e20a16;
        color: #fff;
    }
}